/* ****Custom Property**** */

:root {
    --primary-color:#be3144;
    --secundary-color: #45567D;
    --hero-color: #2F3133;
    --thirth-color: #303841;
    --fourth-color:  hsl(238, 22%, 44%);
    --font-color: #F0F0F0;
    --font-A: 'Raleway', sans-serif; /*Titulo y Subtitulo*/
    --font-B: 'Ponppins', 'sans-serif';
    --font-C: "Open Sans", sans-serif; /*Parrafos*/
   --padding-container: 50px 0;
    --navcontainer-header: 80px;
    
}
/* ****Reset**** */
* {
    margin: 0;
    box-sizing: border-box;
  }


body{
   
    
    font-family: var(--font-B);
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4;
    color: #f0f0f0;
    
}


/*Estilos*/
.container{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
   
}


.hero__main{
    /*padding: 50px 0 50px 0;*/
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    margin-top: calc(20px + var(--navcontainer-header));
}


h1{
    font-family: var(--font-A);
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
    font-size: 3rem;

}
h2{
    font-family: var(--font-B);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--font-color);
    margin-top: 1em;
}
/* ****Components**** */

/* ****Utilytis**** */

/* ****Styles**** */

.nav__container{
   
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    height:var(--navcontainer-header);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

.nav__interior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    
}
.nav__logo{
    padding-left: 20px;
}
.nav__logo a{
   text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: .25rem;
    
}
.nav__lista{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

 .nav__link{
    text-decoration: none;
    color:white;
    font-weight: 700;
    transition: .2s ease-in-out;
}

.nav__link:hover{
    color: #333;
}

.nav__cerrar{
    display: none;
}

.nav__btn-action{
    display:none;
}
span{
    color:#F0F0F0;
}
/*Mobil First*/
@media (max-width:600px){
   
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .nav__menu{
        position: fixed;
        left: 0;
        top: -100%;
        background-color: white;
        width: 100%;
        font-size: 1rem;
        padding: 70px 0 40px;
        border-radius: 0 0 12px 12px;
        box-shadow: 1px 1px 8px 1px #00000033;
        transition: .3 ease-in-out;
    }
    
    .nav__menu.mostrar__menu{
        top: 0;
    }
    
    
    .nav__link{
        text-decoration: none;
        color:#be3144;
    }
    
    .nav__cerrar{
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
   
    
    .nav__menu.mostrar__menu{
        top: 0;
    }
    .nav__lista{
      
        flex-direction: column;
       
        
    }
     
    .nav__cerrar{
        position: absolute;
        display: inline-block;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }
    
    .nav__btn{
        padding-right: 20px;
      }
    
     
    .nav__btn-action {
        background-color: transparent;
        border: none;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }

    

    
}







/*Elemento Hero*/


.hero__picture{
    width: 100%;
    margin-bottom: 1em;
    
    
}

.hero__img{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 4em 0; /*OJO*/
    
   
   
}

.hero__social{
    display: flex;
    gap: 1.1em;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 4em;
   
}
/*Main*/

main{
    background-color: var(--fourth-color);
   
   
}
.main__about{
    padding: 90px 0 50px 0;
    background-color: var(--fourth-color);
}
.about__title{
    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

.about__description{
    color: var(--font-color);
    line-height: 1.5em;
    margin: 1.5em 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;

}

.main__skill{
    background-color: var(--fourth-color);
    padding: 90px 0 50px 0;
}

.skill__title{
    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;

}

.skill__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.card__img{
 margin: 0 auto;
 text-align: center;
}

.skill__card__title{
    color: var(--font-color);
    margin: 10px 0 10px 0;
}

.skill__link{
    border: 1px solid white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
   
   
}

.skill__icon{
    width: 20px;
    height: 20px;
    margin: auto;
}

/*Experiencia*/

.main__experience{
    background-color: var(--fourth-color);
    padding: 90px 0 50px 0;
}



.experience__title{
    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
}



.experience__all{
    border-bottom: 1px solid white;
    display: flex;
    gap: 3em;
    padding: 20px;

    color: var(--font-color);
}

/*Portafolio*/

.main__portafolio{
    background-color: var(--fourth-color);
    padding: 90px 0 50px 0;
}

.portafolio__title{

    color: var(--font-color);
    font-size: 1.7rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;

}

.container__card{
    padding: 2px 16px;
}

.card{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: /*#181719;*/#161718;
   
   

}
.card__img{
    margin-top: 10px;
}
.portafolio_img{

    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
   
}
.container__description__portafolio{
    text-align: center;
    padding: 1em 0;
   
    
}
.portafolio__link{
    text-decoration: none;
    color: #F0F0F0;
}

.code {
    color: #303841;
    transition: color 0.3s ease-out;
  }

  .portafolio__link:hover .code{
    color: #ff7f50;

  }

  @media (min-width:600px) {
       .container__card{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: center;
           align-items: center;
           padding: 20px 0;
           
           
       }

       .experience__container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    }

   


       
  }


  /* ***Footer*** */  

  .footer__container{
    background-color:#161718;
    padding: 20px 0 50px 0;
   
  }

  .footer__contact > p{
    text-align: center;
    color: #F0F0F0;
    padding: 10px 0;
    font-size: 1rem;
  }
  
  .footer__title{
    font-size: 1.5rem;
    color: #F0F0F0;
  }

  .contact__link{
    display: flex;
    gap: 1.1em;
    justify-content: space-evenly;
   
    margin-top: 4em;
    border-bottom: 2px solid red;
    padding-bottom: 2rem;
  }
  .autor{
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      padding: 10px 0;
      color: #F0F0F0;
  }

  /*Media Query*/

 

    

    
  